.filters {
  display: flex;
  flex-direction: column;
}
.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchInput {
  border: solid 2px aqua;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 350px;
  height: 30px;
}
.death2 {
  color: white;
  font-size: 50px;
}
.question2 {
  color: white;
  font-size: 50px;
}
